/* *** BACKGROUND IMAGE *** */
/* background image */
.p-5.text-center.bg-image {
  background-image: url("./assets/navbar/VGU-Campus-2.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* background image in home page */
.p-3.text-center.bg-image {
  background-image: url("./assets/navbar/VGU-Campus-1.jpg");
  height: 250px;
  background-size: 450px 300px;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 75px;
}

/* *** BUTTONS *** */
/* form buttons */
.p-3.rounded.w-50 {
  position: absolute;
  background: #fbf6eef7;
}

.btn.btn-success.w-100 {
  background-color: #ffb534;
}

.btn.btn-default.border.w-100 {
  background-color: #ffb534;
  border-color: #fbf6ee;
  color: #fbf6ee;
}

.btn.btn-default.border.w-100.text-decoration-none {
  background-color: #ffb534;
  color: #fbf6ee;
}

/* *** TITLE *** */
/* title in form */
.form-title,
.input-title,
.mb-3 {
  color: #ffb534;
}

.form-link {
  color: #ffb534;
}

.form-link-forgot-password {
  color: #ffb534;
  font-size: 13px;
}

/* *** NAVBAR *** */
.bg-body-tertiary.mb-3 {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.btn.toogle-navbar,
.btn.toogle-navbar:hover {
  color: #fbf6ee;
  background: #ffb534;
  border-radius: 4px;
}

.navbar-toogle,
.navbar-toogle:hover {
  margin-right: 20px;
  border-color: #ffb534;
}

.toogle-navbar-title {
  color: #ffb534;
}

.toggle-navbar-top {
  background-color: #ecebeab7;
}

.g-4 {
  margin-left: 30px;
  margin-right: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* *** FORM *** */
.form-control {
  background-color: #c1f2b0;
  color: #127c56;
}

.form-control:focus {
  border: 2px solid #ffb534;
  background-color: #c1f2b0;
  color: #127c56;
}

.form-control::placeholder {
  color: #21d593;
  opacity: 5; /* Firefox */
}

/* *** PAGINATION *** */
.pagination {
  color: #ffb534;
}

.pagination:active {
  color: #ffb534;
}

/* ** FOOTER ** */
.section {
  background-color: #ffb534;
}

.text-center.text-md-start.mt-5 {
  padding-top: 30px;
  margin-left: 100px;
  background-color: #ffb534;
}

.text-uppercase.fw-bold.mb-4.uni {
  margin-left: -40px;
  text-align: center;
}

.me-3 {
  padding-top: 30px;
}

.text-center.p-4 {
  background-color: #ffb534;
}
